body {
	background-color: #8c8c8c;
	margin: 0;
}
h1 {
	padding: 0;
	margin: -20px;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 50px;
	text-align: center;
}
#phaser {
	margin: 20px auto;
	/*width: 58%;*/
}